{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>
      {% if tipo == 'clientes' %}
          Clientes
      {% elif tipo == 'hoteis' %}
          Hoteis
      {% elif tipo == 'quartos' %}
          Quartos
      {% elif tipo == 'recomendacoes' %}
          Recomendacoes
      {% elif tipo == 'pessoas' %}
          Pessoas
      {% else %}
          Erro!
      {% endif %}
    </title>
  </head>
  <body>
    <h1 class="text-center container col-6 mb-2 bg-light text-dark shadow-sm p-3 mb-5 bg-white rounded">
      Visualizar
      {% if tipo == 'clientes' %}
          Cliente
      {% elif tipo == 'hoteis' %}
          Hotel
      {% elif tipo == 'quartos' %}
          Quarto
      {% elif tipo == 'recomendacoes' %}
          Recomendação
      {% elif tipo == 'pessoas' %}
          Pessoa
      {% else %}
          Erro!
      {% endif %}
    </h1>
    <form class="container col-6" method="post">
      {% csrf_token %}
      {{ form| crispy }}
      <input class="btn btn-warning btn-block" type="submit" value="Editar">
        <br>
        {% if tipo == 'clientes' %}
        <a class="container btn btn-outline-danger" href="{% url 'cliente_delete' cliente.id %}" >Deletar Cliente</a>
        {% elif tipo == 'hoteis' %}
            <a class="container btn btn-outline-danger" href="{% url 'hotel_delete' hotel.id %}" >Deletar Hotel</a>
        {% elif tipo == 'quartos' %}
            <a class="container btn btn-outline-danger" href="{% url 'quarto_delete' quarto.id %}" >Deletar Quarto</a>
        {% elif tipo == 'recomendacoes' %}
            <a class="container btn btn-outline-danger" href="{% url 'recomendacao_delete' recomendacao.id %}" >Deletar Recomendação</a>
        {% elif tipo == 'pessoas' %}
            <a class="container btn btn-outline-danger" href="{% url 'pessoa_delete' pessoa.id %}" >Deletar Pessoa</a>
        {% else %}
            Erro!
        {% endif %}
    </form>
  </body>
</html>
{% endblock %}