<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Eng Software</title>
  </head>
  <body>
    <h1>Pessoa</h1>
      <a href="{% url 'pessoa_create' %}">Criar</a><br>
      <a href="{% url 'pessoa_view' %}">Listar</a>
    <h1>Cliente</h1>
      <a href="{% url 'cliente_create' %}">Criar</a><br>
      <a href="{% url 'cliente_view' %}">Listar</a>
    <h1>Hotel</h1>
      <a href="{% url 'hotel_create' %}">Criar</a><br>
      <a href="{% url 'hotel_view' %}">Listar</a>
    <h1>Quarto</h1>
      <a href="{% url 'quarto_create' %}">Criar</a><br>
      <a href="{% url 'quarto_view' %}">Listar</a>
    <h1>Recomendacao</h1>
      <a href="{% url 'recomendacao_create' %}">Criar</a><br>
      <a href="{% url 'recomendacao_view' %}">Listar</a>
  </body>
</html>
