{% extends 'base.html' %}
{% load static %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Eng Software</title>
  </head>
  <body>
  <div class="jumbotron">
    <div class="container">
      <h3 class="display-6">Recomendações para todas as pessoas, com todos os gostos!</h3>
      <p>Aqui você terá total liberdade para cadastrar um cliente e cadastrar recomendações de hotéis e quartos com acertividade!
      Deixe de lado todos os seus problemas de marketing e venha utilizar nosso sistema, criado para ser SIMPLES e INTUITIVO.</p>
    </div>
  </div>

  </body>

{% endblock %}
