{% extends 'base.html' %}
{% load static %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>
      {% if tipo == 'clientes' %}
          Clientes
      {% elif tipo == 'hoteis' %}
          Hoteis
      {% elif tipo == 'quartos' %}
          Quartos
      {% elif tipo == 'recomendacoes' %}
          Recomendacoes
      {% elif tipo == 'pessoas' %}
          Pessoas
      {% else %}
          Erro!
      {% endif %}
    </title>
  </head>
  <body>
      {% if tipo == 'clientes' %}
          <h1 class="text-center container col-6 mb-2 bg-light text-dark shadow-sm p-3 mb-5 bg-white rounded">Clientes</h1>
          <a href="{% url 'cliente_create' %}" class="btn btn-secondary" id="menu">Cadastrar novo cliente &#128525</a>
          <div class="col-9 container">
              <ul class="container list-group">
                {% for cliente in clientes %}
                  <li class="text-center list-group-item">
                      <a href="{% url 'cliente_edit' cliente.id %}">{{ cliente }}</a>
                      <li class="text-center list-group-item">
                            <a class="text-center">Contato: {{ cliente.telefone }}</a>
                      </li>
                  </li>
                  <br>
                {% endfor %}
              </ul>
          </div>
      {% elif tipo == 'hoteis' %}
          <h1 class="text-center container col-6 mb-2 bg-light text-dark shadow-sm p-3 mb-5 bg-white rounded">Hotéis</h1>
          <a href="{% url 'hotel_create' %}" class="btn btn-secondary" id="menu">Cadastrar novo Hotel &#128526</a>
          <div class="col-9 container">
              <ul class="container list-group"></ul>
                {% for hotel in hoteis %}
                  <li class="text-center list-group-item">
                      <a href="{% url 'hotel_edit' hotel.id %}">{{ hotel }}</a>
                      <li class="text-center list-group-item">
                            <a class="text-center">{{ hotel.descricao_hotel }}</a>
                      </li>
                  </li>
                  <br>
                {% endfor %}
              </ul>
          </div>
      {% elif tipo == 'quartos' %}
          <h1 class="text-center container col-6 mb-2 bg-light text-dark shadow-sm p-3 mb-5 bg-white rounded">Quartos</h1>
          <a href="{% url 'quarto_create' %}" class="btn btn-secondary" id="menu">Cadastrar novo Quarto &#128716</a>
          <div class="col-9 container">
              <ul class="container list-group">
                {% for quarto in quartos %}
                  <li class="text-center list-group-item">
                      <a href="{% url 'quarto_edit' quarto.id %}">{{ quarto }}</a>
                      <li class="list-group-item">
                            <a class="list-group">Número do quarto: {{ quarto.num_quarto }}</a>
                            <a class="list-group">{{ quarto.num_camas_solteiro }} cama(s) de solteiro</a>
                            <a class="list-group">{{ quarto.num_camas_casal }} cama(s) de casal</a>
                      </li>
                  </li>
                  <br>
                {% endfor %}
              </ul>
          </div>
      {% elif tipo == 'recomendacoes' %}
          <h1 class="text-center container col-6 mb-2 bg-light text-dark shadow-sm p-3 mb-5 bg-white rounded">Recomendações</h1>
          <a href="{% url 'recomendacao_create' %}" class="btn btn-secondary" id="menu">Fazer recomendação &#129311</a>
          <div class="col-9 container">
              <ul class="container list-group">
                {% for recomendacao in recomendacoes %}
                  <li class="text-center list-group-item">
                      <a href="{% url 'recomendacao_edit' recomendacao.id %}">{{ recomendacao }}</a>
                      <li class="list-group-item">
                            <a class="list-group">{{ recomendacao.descricao }}</a>
                      </li>
                  </li>
                {% endfor %}
              </ul>
          </div>
      {% elif tipo == 'pessoas' %}
          <h1 class="text-center container col-6 mb-2 bg-light text-dark shadow-sm p-3 mb-5 bg-white rounded">Pessoas</h1>
            <a href="{% url 'pessoa_create' %}" class="btn btn-secondary" id="menu">Cadastrar nova pessoa &#128516</a>
            <div class="col-9 container">
                <ul class="container list-group">
                {% for pessoa in pessoas %}
                      <li class="text-center list-group-item">
                          <a href="{% url 'pessoa_edit' pessoa.id %}">{{ pessoa }}</a>
                          <li class="text-center list-group-item">
                            <a class="text-center">Contato: {{ pessoa.email }}</a>
                          </li>
                      </li>
                      <br>
                {% endfor %}
                </ul>
            </div>
      {% else %}
          <h1>Erro!</h1>
      {% endif %}
  </body>
</html>
{% endblock %}
